<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407012033822-qm0afn8fotbte503s6h9ihofge1bf0a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407012033822-qm0afn8fotbte503s6h9ihofge1bf0a4</string>
	<key>API_KEY</key>
	<string>AIzaSyByG7LQ-RzOsepoQd5sIXGyvz7gB9HpPFU</string>
	<key>GCM_SENDER_ID</key>
	<string>407012033822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app2</string>
	<key>PROJECT_ID</key>
	<string>app2-c2f72</string>
	<key>STORAGE_BUCKET</key>
	<string>app2-c2f72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407012033822:ios:24d3b62b215d9a0750b50f</string>
</dict>
</plist>